/* CSS Document */
.banner{height:425px; margin-bottom:1px; margin-top:-7px}
.big_wrap,.big_wrap li{width:100%;height:425px;overflow:hidden;position:relative;}
.big_wrap li{position:absolute;display:none;}
.banBut{width:982px; margin:0 auto; position:relative}
.small{height:11px; position:absolute; bottom:15px; left:24px; z-index:999999; width:100px}
.small li{float:left;cursor:pointer; background:url(images/banBut.png) no-repeat 0 -11px; width:11px; height:11px }
.small .current{ background-position:0 0}
.indexBan{display:block; width:100%; height:425px; }
.indexBan{ blr:expression(this.onFocus=this.blur()) } /*针对 IE*/
.indexBan{ outline:none; } /*针对firefox等*/
/*---------------*/
.main{background:url(images/mainBg.gif) repeat-x; width:100%; min-height:218px;_height:218px}
.content{width:982px; height:162px; overflow:hidden; margin:0 auto; padding-top:15px}
.content h3{font-family:"Arial"; height:30px; line-height:30px; color:#616160; font-size:13px; background:url(images/ico-1.png) no-repeat 0 center; padding-left:22px}
.mbox{background:url(images/centBg.gif) no-repeat; padding-left:12px; }
.mbox-2{background:url(images/centBg.gif) no-repeat right 0}
.main .mLeft{width:300px; float:left; margin-right:16px}
.mLeft ul{padding:6px 0 0 8px; height:117px; overflow:hidden}
.mLeft li{height:24px; line-height:24px; border-bottom:solid 1px #eee; width:282px}
.mLeft li a{color:#8a8a8a;background:url(images/ico-8.gif) no-repeat left center;padding-left:10px;}
.mLeft li a:hover{color:#009fa8;}
.mLeft li span{color:#9d9d9d; display:block; float:right; height:24px;}html* .mLeft li span{margin-top:-24px}
.main .mCenter{float:left; width:344px; padding:0}
.main .mCenter h3{font-family:"Arial";padding-left:34px; background-position:12px center}
.mCenter ul{padding:10px 0 0 0px; width:344px;overflow:hidden;}
.mCenter li{ height:37px; float:left;line-height:37px; margin-bottom:5px;width:172px;overflow:hidden;}
.mCenter li img{vertical-align:middle; margin-right:5px}
.mCenter li a{font-size:12px; font-family:"Arial"; color:#6d6d6d;display:block;padding-left:33px;width:140px;height:37px;_margin-top:-10px;}
.mCenter li a:hover{color:#009fa8;}
.mCenter li a img{display:none;}
.mCenter li#zyyw1 a{background:url(images/mlb-01.gif) no-repeat 0 -37px;}
.mCenter li#zyyw2 a{background:url(images/mlb-02.gif) no-repeat 0 -37px;}
.mCenter li#zyyw3 a{background:url(images/mlb-03.gif) no-repeat 0 -37px;}
.mCenter li#zyyw4 a{background:url(images/mlb-04.gif) no-repeat 0 -37px;}
.mCenter li#zyyw5 a{background:url(images/mlb-07.gif) no-repeat 0 -37px;}
.mCenter li#zyyw6 a{background:url(images/mlb-08.gif) no-repeat 0 -37px;}
.mCenter li#zyyw1 a:hover{background:url(images/mlb-01.gif) no-repeat;}
.mCenter li#zyyw2 a:hover{background:url(images/mlb-02.gif) no-repeat;}
.mCenter li#zyyw3 a:hover{background:url(images/mlb-03.gif) no-repeat;}
.mCenter li#zyyw4 a:hover{background:url(images/mlb-04.gif) no-repeat;}
.mCenter li#zyyw5 a:hover{background:url(images/mlb-07.gif) no-repeat;}
.mCenter li#zyyw6 a:hover{background:url(images/mlb-08.gif) no-repeat;}
.mCli-1{background:url(images/mlb_bg.gif) no-repeat;width:151px;_padding-top:10px;_height:37px}
.mCli-2{background:url(images/mCli-2.gif) no-repeat;width:143px;_padding-top:10px;_height:37px}
.main .mRight{float:right; width:293px;padding:0;}
.main .mRight h3{margin-left:12px;}


.jcarousel-skin-tango{margin-top:17px;}
.jcarousel-container { position: relative; }
.jcarousel-clip { z-index: 2; padding: 0; margin: 0; overflow: hidden; position: relative; }
.jcarousel-list { z-index: 1; overflow: hidden; position: relative; top: 0; left: 0; margin: 0; padding:0; }
.jcarousel-list li,
.jcarousel-item { float: left; list-style:none;width:128px; height:100px;padding:0 3px;}
.jcarousel-next { z-index: 3; }
.jcarousel-prev { z-index: 3; }
.jcarousel-skin-tango .jcarousel-container {}
.jcarousel-skin-tango .jcarousel-container-horizontal {width:268px; padding:0 12px;margin:0;}
.jcarousel-skin-tango .jcarousel-clip-horizontal { width:268px; height:120px; }
.jcarousel-skin-tango .jcarousel-item { width:128px; height:120px; }
.jcarousel-skin-tango .jcarousel-item img{}
.jcarousel-skin-tango .jcarousel-item-horizontal {padding:1px 3px;}
.jcarousel-skin-tango .jcarousel-item-placeholder { background: #fff; color: #000; }
.jcarousel-skin-tango .jcarousel-item a{display:block;line-height:24px;text-align:center;}
.jcarousel-skin-tango .jcarousel-next-horizontal { position: absolute; top: 40px; right:1px; width:7px; height:16px; cursor: pointer; 
 background: url(images/roll-r.gif) no-repeat 0 0; }
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active { cursor: default; background-position: 0 -16px; }
.jcarousel-skin-tango .jcarousel-prev-horizontal { position: absolute; top: 40px; left: 1px; width:7px; height: 16px; cursor: pointer;
 background: url(images/roll-l.gif) no-repeat 0 0; }
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active { cursor: default; background-position: 0 -16px; }

.mRight li{background:url(images/mbox-2-libg.gif) no-repeat 3px 0;float:left}
.mRight li a{display:block; text-align:center; line-height:22px; color:#8a8a8a}
.mRight li .mrimg{display:block; height:75px; overflow:hidden}
.mRight li img{max-height:75px;_width:expression(document.body.clientHeight > 75? "75px": "auto")}